body {
  margin: 0;
  font-family: system-ui, sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* Reset https://www.joshwcomeau.com/css/custom-css-reset/ */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.icon {
  height: 100%;
  transform: scaleX(1);
  position: absolute;
  bottom: 0;
  left: 0;
}
header {
  align-items: center;
  display: flex;
  background: #0b1b44;
  color: #fff;
  position: relative;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.container {
  width: 100%;
  max-width: 75rem;
  margin-inline: auto;
  padding: 3rem 2rem;
  position: relative;
  z-index: 1;
}
.search-form {
  display: flex;
  margin-bottom: 3rem;
}
.search-input {
  border-radius: 8px 0 0 8px;
  border: 1px solid #bbb;
  border-right: 0;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  flex: 1 1 auto;
  transition: all 0.1s ease-out;
  min-width: 8rem;
}
.search-button {
  border: 0;
  font-size: 1.2rem;
  font-family: "Ubuntu", sans-serif;
  appearance: none;
  background: #0098ff;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 0 8px 8px 0;
  height: 4rem;
  transition: all 0.1s ease-out;
  cursor: pointer;
}
.search-button:hover {
  background: #000066;
}
@media (max-width: 700px) {
  .icon {
    transform: scaleX(-1);
    left: unset;
    right: 0;
  }
  header {
    flex-direction: row-reverse;
  }
}
.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.repo-cards {
  padding: 0;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}
.repo-card {
  display: block;
  border: 1px solid #bbb;
  transition: all 0.1s ease-out;
  padding: 1rem 1.5rem;
  border-radius: 8px;
}
.repo-card:hover {
  box-shadow: 0px 0px 10px grey;
  border-left: 4px solid #0098ff;
}
[data-stars],
[data-forks] {
  display: inline;
}
